name: Dependabot Workflow

on:
  push:
    branches:
      - 'dependabot/npm_and_yarn/**'

jobs:
  check-dependabot-changes:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install
      - name: Debug Git Status
        run: git status

      - name: Debug Git Diff
        run: git diff

      - name: Check for changes in bun.lockdb
        id: check-changes
        run: git diff --name-only | grep -q "bun.lockdb" && echo "lockdbChanged=true" >> $GITHUB_ENV || echo "lockdbChanged=false" >> $GITHUB_ENV
        shell: bash

      - name: Commit and push if bun.lockdb changed
        if: env.lockdbChanged == 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add bun.lockdb
          git commit -m "chore: update lock file"
          git push
